 $hover-color: #FF8427;
 $card-radius: 25px;

 @import "./../styles/variables.scss";
 @import "./../styles/mixins/mixins";

 body {
     height: 100%;
     margin: 0 auto;
 }

 .box {
     margin: 2em;
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
     gap: 1vw;



     .container__item {
         cursor: pointer;
         margin: 0 auto;
         text-decoration: none;
     }

     .card {
         justify-content: space-between;
         border-radius: $card-radius;
         position: relative;
         border: 2px solid $main-color;
         box-shadow: 0 7px 14px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.15);

         &:hover {
             border: 2px solid $hover-color;
         }

         .img-responsive {
             border-radius: calc(#{$card-radius} - 2px);
             border-bottom-left-radius: 0;
             border-bottom-right-radius: 0;
             width: 100%;
             /* 100%, 22rem */
             height: 15em;
             filter: grayscale(15%);
         }

         .card__info {
             position: absolute;
             z-index: 1;
             top: 1em;
             left: 0.6em;
             color: $main-color;
             background-color: rgba(1, 1, 1, 0.8);
             border-radius: 12px;
             padding: 0.5em;
         }

         .card__name {
             margin: 0 0 1em 0;
             width: 100%;
             text-align: center;
             text-transform: capitalize;
             color: $main-color;
             font-weight: 600;
         }


     }

     .card,
     .card__secondary {
         display: flex;
         flex-direction: column;
         width: 22em;
         height: 18em;
         align-items: center;
     }

     .card__name--add {
         @include category-name;
     }
 }


 .card__secondary {
     justify-content: center;
 }


 .plus-marker::before {
     @include plus-marker;
     mask-image: url(./../../assets/img/plus-solid.svg);
     position: relative;
     left: 6px;
 }