<!--
<div class="box">
    <button type="submit" class="btn" (click)="openPopup()">Submit</button>

    <div class="popup" id="popup" #myDiv>
        <div class="overlay"></div>
        <div class="content">
            <h2>Thank you</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Molestias ea asperiores omnis cupiditate.</p>
            <button type="button" (click)="closePopup()">Ok</button>
        </div>
    </div>

</div>
-->
<div class="container">
    <h1>Photogallery</h1>
    <router-outlet></router-outlet>
</div>