body{
    background-color: grey;
}
.box-form {
    display: flex;
    flex-direction: column;
    width: 20em;
    height: 10em;
    border: 1px solid black;

    border-radius: 12px;
    padding: 1em;
    margin: 0 auto;
}

.box-form__header {
    display: flex;
    justify-content: space-between;
    margin: 1em;
}

legend{
    font-size: small;
}

.box-form__header span {
    font-weight: 600;
}

input:focus {
    outline: none;
}

.box-form {
    padding: 1em;
    height: 100%;
}

input {
    height: 100%;
    border: none;
    padding: 1em;
    margin: 1em 0;
    width: 90%;
}

button{
    background-color: black;
    border: none;
    padding: 1em 2em;
    width: 100%;
    color: white;
    border-radius: 12px;
}

.cross--href{
    text-decoration: none;
    position: relative;
    bottom: 0.2em;
}

.box-form__button{
    cursor: pointer;
}