@import "./../styles/mixins/mixins";
@import "./../styles/variables";

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vh;
    margin: 2em;
}

.container__item {
    cursor: pointer;
    text-decoration: none;
    border: 2px solid $main-color;
    width: 23em;
    border-radius: calc(#{$card-radius} - 0px);
    &:hover {
        box-shadow: 0 7px 14px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.1);
    }

}

.card__name--add {
    @include category-name;
}

.container__item--img {
    width: 100%;
    object-fit: cover;
    object-position: bottom;
    //height: 18em;
    height: 100%;
    border-radius: calc(#{$card-radius} - 2px);
}

.back-href {
    text-decoration: none;
    color: black;

    &:focus {
        color: black;
    }

    &:hover {
        text-decoration: underline;
        color: $hover-color;
    }
}

.plus-marker {
    position: relative;
    height: 18em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.plus-marker::before {
    @include plus-marker;
    mask-image: url(./../../assets/img/plus-solid.svg);

    position: relative;
    left: 6px;
}

.container__item:last-child:hover{
    border: 2px solid $hover-color;
}